.videoBox {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  video {
    opacity: 100;
  }
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:hover {
    .controls {
      opacity: 100;
    }
  }
}
.controls {
  width: 94%;
  height: 36px;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  opacity: 0;
  transition: all 0.4s ease;
  .progress {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: -3px;
    background-color: rgba(255,255,255, 0.3);
    transform: scale(1, 0.6);
    transition: transform .1s cubic-bezier(0.4,0.0,1,1);
    cursor: pointer;
    .cache {
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255,255,255,0.6);
    }
    .played {
      width: 20%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(241,43,36,1);
    }
    &:hover {
      transform: scale(1, 1);
    }
  }
}
